<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>TimeStamp Microservice</title>
    </head>
    
    <body styly="background-color: gray">
        <h1 style="text-align: center">TimeStamp Generator</h1>
        <p>This is a timestamp microservice created using node.js</p>
        
    </body>
</html>