<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>TimeStamp Microservice</title>
    </head>
    
    <body style="background-color: azure">
        <h1>Timestamp Generator</h1>
        <p>This is a timestamp microservice created using node.js</p>
        <p style="color: red">Example Calls</p>
        <ul>
            <li>/July 29, 1979</li>
            <ul><li>-- {"unix": 302054400, "date": "Sun Jul 29 1979"}</li></ul>
            <li>/302054400</li>
            <ul><li>-- {"unix": 302054400, "date": "Sun Jul 29 1979"}</li></ul>
        </ul>
    </body>
</html>