<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My app</title>
    </head>
    
    <body>
        <h1>HELLO WORLD YEAH</h1>
        <p>yo yo yo</p>
    </body>
</html>